body {
    font-size: 18px;
    color: #333;
}

h1 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 60px;
    text-align: center;
}

h2 {
    padding-top: 0px;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
}
section {
    padding: 50px 0;
    margin: 0 50px;
}

section > h2 {
    padding: 0;
    text-align: left;
    border: none;
}

li {
    margin-bottom: 10px;
}